@using System.Reflection
@using JuliePro_Models
@using JuliePro_Models.ViewModels
@model CustomersDisplayVM
@{
ViewData["Title"] = "@Model.GeneralViewInfos.PageTitle";
}

<div class="row justify-content-center view-display">
    <div class="col-8">
        <div class="h1 text-primary mb-4">@Model.GeneralViewInfos.PageHeading</div>
        <div class="hstack gap-4 mb-2 page-actions">
            @foreach (PageLinkInfos pli in Model.GeneralViewInfos.Links)
            {
                @if (pli.UsesId)
                {
                    ViewData["Id"] = Model.Id;
                    <partial name="_PageLinkWithId" model="pli" view-data="ViewData" />
                }
                else
                {
                    <partial name="_PageLink" model="pli" />
                }
            }
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Customer.BirthDate" readonly class="form-control" id="BirthDate" placeholder="@Html.DisplayNameFor(model => model.Customer.BirthDate)" />
            <script>var ta = document.querySelector('#BirthDate'); ta.style.height = ta.scrollHeight + 2 + 'px';</script>
            <label for="BirthDate" asp-for="Customer.BirthDate"></label>
            <span asp-validation-for="Customer.BirthDate" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Customer.Email" readonly class="form-control" id="Email" placeholder="@Html.DisplayNameFor(model => model.Customer.Email)" />
            <script>var ta = document.querySelector('#Email'); ta.style.height = ta.scrollHeight + 2 + 'px';</script>
            <label for="Email" asp-for="Customer.Email"></label>
            <span asp-validation-for="Customer.Email" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Customer.FirstName" readonly class="form-control" id="FirstName" placeholder="@Html.DisplayNameFor(model => model.Customer.FirstName)" />
            <script>var ta = document.querySelector('#FirstName'); ta.style.height = ta.scrollHeight + 2 + 'px';</script>
            <label for="FirstName" asp-for="Customer.FirstName"></label>
            <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Customer.LastName" readonly class="form-control" id="LastName" placeholder="@Html.DisplayNameFor(model => model.Customer.LastName)" />
            <script>var ta = document.querySelector('#LastName'); ta.style.height = ta.scrollHeight + 2 + 'px';</script>
            <label for="LastName" asp-for="Customer.LastName"></label>
            <span asp-validation-for="Customer.LastName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Customer.Photo" readonly class="form-control" id="Photo" placeholder="@Html.DisplayNameFor(model => model.Customer.Photo)" />
            <script>var ta = document.querySelector('#Photo'); ta.style.height = ta.scrollHeight + 2 + 'px';</script>
            <label for="Photo" asp-for="Customer.Photo"></label>
            <span asp-validation-for="Customer.Photo" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Customer.Trainer_Id" readonly class="form-control" id="Trainer_Id" placeholder="@Html.DisplayNameFor(model => model.Customer.Trainer_Id)" />
            <script>var ta = document.querySelector('#Trainer_Id'); ta.style.height = ta.scrollHeight + 2 + 'px';</script>
            <label for="Trainer_Id" asp-for="Customer.Trainer_Id"></label>
            <span asp-validation-for="Customer.Trainer_Id" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Customer.StartWeight" readonly class="form-control" id="StartWeight" placeholder="@Html.DisplayNameFor(model => model.Customer.StartWeight)" />
            <script>var ta = document.querySelector('#StartWeight'); ta.style.height = ta.scrollHeight + 2 + 'px';</script>
            <label for="StartWeight" asp-for="Customer.StartWeight"></label>
            <span asp-validation-for="Customer.StartWeight" class="text-danger"></span>
        </div>
        @if (!Model.IsDetails)
        {
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Customer.Id" />
            <div class="text-center">
                <button type="submit" class="btn btn-primary">@Model.GeneralViewInfos.SubmitButtonText</button>
            </div>
        </form>
        }
    </div>
</div>
@section Scripts {
}
