@using System.Reflection
@using JuliePro_Models
@using JuliePro_Models.ViewModels
@model TrainingsDisplayVM
@{
ViewData["Title"] = "@Model.GeneralViewInfos.PageTitle";
}

<div class="row justify-content-center view-display">
    <div class="col-8">
        <div class="h1 text-primary mb-4">@Model.GeneralViewInfos.PageHeading</div>
        <div class="hstack gap-4 mb-2 page-actions">
            @foreach (PageLinkInfos pli in Model.GeneralViewInfos.Links)
            {
                @if (pli.UsesId)
                {
                    ViewData["Id"] = Model.Id;
                    <partial name="_PageLinkWithId" model="pli" view-data="ViewData" />
                }
                else
                {
                    <partial name="_PageLink" model="pli" />
                }
            }
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Training.Category" readonly class="form-control" id="Category" placeholder="@Html.DisplayNameFor(model => model.Training.Category)" />
            <script>var ta = document.querySelector('#Category'); ta.style.height = ta.scrollHeight + 2 + 'px';</script>
            <label for="Category" asp-for="Training.Category"></label>
            <span asp-validation-for="Training.Category" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Training.Name" readonly class="form-control" id="Name" placeholder="@Html.DisplayNameFor(model => model.Training.Name)" />
            <script>var ta = document.querySelector('#Name'); ta.style.height = ta.scrollHeight + 2 + 'px';</script>
            <label for="Name" asp-for="Training.Name"></label>
            <span asp-validation-for="Training.Name" class="text-danger"></span>
        </div>
        @if (!Model.IsDetails)
        {
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Training.Id" />
            <div class="text-center">
                <button type="submit" class="btn btn-primary">@Model.GeneralViewInfos.SubmitButtonText</button>
            </div>
        </form>
        }
    </div>
</div>
@section Scripts {
}
